# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\amaan\MYNTRA\INFLUENCER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
